[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.26"
optimizer = true
optimizer_runs = 200
evm_version = "paris"
via_ir = false
ffi = false

[profile.default.fuzz]
runs = 10000
max_test_rejects = 100000

[profile.default.invariant]
runs = 256
depth = 128

[fmt]
line_length = 120
tab_width = 4
bracket_spacing = false
int_types = "long"
multiline_func_header = "params_first"
quote_style = "double"
number_underscore = "thousands"
